127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ ipaserver_ip_address }} {{ ipaserver_fqdn }} {{ ipaserver_hostname }}
{{ ipaclient_ip_address }} {{ ipaclient_fqdn }} {{ ipaclient_hostname }}
